#dv1{
    background-color: rgb(238, 130, 29);
    width: 60%;
    height: 100px;
    margin:10px auto;
}
.teste{
    background-color: aqua;
    width: 60%;
    height: 100px;
    margin:10px auto;
}
h1{
    color:blue;
}